// vim:ft=css

body {
	font-size: 1rem;
	font-family: sans-serif;
}

.container {
	width: -20px;
	margin: 10px auto;
	padding: 20px 20px;
	border: 1px solid #DDDDDD;
	border-radius: 0px;
}


button {
	display: inline-block;
	font-size: 1rem;
	padding: 0.5em 1em;
	margin: 5px 0 5px 0;
	text-decoration: none;
	background: #f7f7f7;
	border-left: solid 6px #000000;
	color: #000000;
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-radius: 5px;
}

.bt_blue {
	border-left: solid 6px #0000FF;
	color: #0000FF;
}

.bt_red {
	border-left: solid 6px #FF0000;
	color: #FF0000;
}

.bt_brown {
	border-left: solid 6px #990000;
	color: #990000;
}

.bt_green {
	border-left: solid 6px #009900;
	color: #009900;
}

button:disabled {
	color: #666666;
	border-left: solid 6px #666666;
	box-shadow: none;
}

button:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}

.panel_top {
	width: -20px;
	clear:both;
	padding: 10px;
	margin: 5px;
}

.panel_top h1 {
	padding: 2px;
	margin: 0px;
	font-weight: bold;
	font-size: 2rem;
}

.panel_left {
	width: 200px;
	border: 1px solid #AAAAAA;
	float: left;
	padding: 5px;
	margin: 0 5px 10px 5px;
}

.panel_left h1 {
	padding: 2px;
	margin: 0px;
	background-color:#EEEEEE;
	font-size: 1.2rem;
	font-weight: normal;
	text-align: center;
}

.panel_left button {
	width: 100%;
}

.panel_left .commit {
	background-color: #FFEEEE;
	margin: 10px 0 10px 0;
	display: none;
}

.panel_left .commit p {
	padding: 10px 0 10px 0;
}

.panel_left p {
	padding: 2px;
	margin: 0px;
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
}
.panel_center {
	margin: 5px 5px 5px 222px;
	padding: 10px;
}
.panel_center table {
	width: 100%;
}

.panel_center h1 {
	font-size: 1.5rem;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.panel_center h2 {
	font-size: 1.1rem;
	margin: 5px;
	padding: 5px;
}

.panel_bottom {
	width: -20px;
	clear: both;
	padding: 10px;
	margin: 5px;
	text-align: right;
}
.panel_bottom small {
	color: #999999;
}

.panel_center button {
	width: 150px;
	margin: 0 10px 0 10px;
}

.panel_center td button {
	width: 100px;
	margin: 0 10px 0 10px;
}


h1 {
	padding: 10px;
	font-size: 2rem;
}

h2 {
	padding: 10px;
	font-size: 1rem;
}

h3 {
	font-size: 0.9rem;
}

h4 {
	font-size: 0.8rem;
}

blockquote {
	background-color:#F4F4F4;
	padding: 5px;
}

table {
	border-collapse: collapse;
	margin: 20px 0px;
}

table th {
	border: 1px solid #DDDDDD;
	background-color:#EEEEEE;
	padding: 10px 20px;
}

table td {
	border: 1px solid #DDDDDD;
	padding: 5px 20px;
	text-align: center;
}

#m_wifi {
	display:none;
}

#d_sta_scan_now p {
	animation: d_sta_scan_now_a 0.2s infinite alternate;

}
@keyframes d_sta_scan_now_a{
   0% { color: #FFFFFF }
 100% { color: #000000 }
}

