<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">

<title></title>
<meta name="viewport" content="width=1000">

<% if(production) { %>
<style type="text/css"><%- css %></style>
<script type="text/javascript">// <![CDATA[
<%- js %>
// ]]></script>
<% } else { %>
<link rel="stylesheet" type="text/css" href="./index.css" media="all">
<script src="./index.js"></script>
<% } %>

</head><body>
<div class="container">

<!-- ------------------------------------------------------------------------- -->
<!-- 上 -->
<!-- ------------------------------------------------------------------------- -->
<div class="panel_top">
<h1>ESP-WROOM-02 設定</h1>
</div>

<!-- ------------------------------------------------------------------------- -->
<!-- 左 -->
<!-- ------------------------------------------------------------------------- -->
<div class="panel_left">

<div class="commit" id="p_commit">
<p>適用ボタンを押すまで<br>反映されません</p>
<button id="b_commit" class="bt_red">適用</button>
<hr>
</div>

<button class="bt_blue" id="btc_main"   disabled>メインメニュー</button>
<button class="bt_blue" id="btc_wifi"   disabled>WiFi設定</button>
<button class="bt_blue" id="btc_config" disabled>動作設定</button>

<hr>

<h1>ホスト名</h1>
<p><span id="dp_hostname">---</span></p>

<h1>AP SSID</h1>
<p><span id="dp_ap_ssid">---</span></p>

<h1>AP IP</h1>
<p><span id="dp_ap_ip">---</span></p>

<h1>STA SSID</h1>
<p><span id="dp_sta_ssid">---</span></p>

<h1>STA IP</h1>
<p><span id="dp_sta_ip">---</span></p>


</div>

<!-- ------------------------------------------------------------------------- -->
<!-- 中央 -->
<!-- ------------------------------------------------------------------------- -->
<div class="panel_center">
<div class="panel_center_inner">

<div id="m_index">
<p>毎度ありがとうございます</p>
</div><!-- /m_index -->

<div id="m_wifi">
<h1>WiFi設定</h1>

<hr>

<div id="d_sta_list">

<h2>WiFi親機の設定</h2>

<table>
<tr><th>SSID</td>
<td style="text-align:left"><input type="text" id="t_ap_ssid" size="32" maxlength="64"></td></tr>
<tr><th>パスフレーズ</td>
<td style="text-align:left"><input type="text" id="t_ap_passphase" size="64" maxlength="64"></td></tr>
</table>

<button id="b_sta_commit" class="bt_blue">設定</button>

<hr>
<h2>WiFi子機の設定</h2>
<h3>親機情報</h3>
<table id="t_sta_list"></table>
</div><!-- /d_sta_list -->

<div id="d_sta_info">
<h2>WiFi子機の設定</h2>
<h3>アクセスポイントの設定 → <span id="s_sta_info_num"></span></h3>
<table>
<tr><th>SSID</td>
<td style="text-align:left"><input type="text" id="t_sta_info_ssid" size="32" maxlength="64"></td></tr>
<tr><th>パスフレーズ</td>
<td style="text-align:left"><input type="text" id="t_sta_info_passphase" size="64" maxlength="64"></td></tr>
</table>
<button id="b_sta_info_back">戻る</button>
<button id="b_sta_info_scan" class="bt_green">スキャン</button>
<button id="b_sta_info_commit" class="bt_blue">設定</button>

</div><!-- /d_sta_info -->

<div id="d_sta_scan_now">
<h2>WiFi子機の設定</h2>
<p>ただいまスキャン中！</p>
</div><!-- /d_sta_scan_now -->

<div id="d_sta_scan">
<h2>WiFi子機の設定</h2>
<h3>アクセスポイントの設定 → <span id="s_sta_scan_num"></span></h3>
<p>電波の強い順番です</p>
<table id="t_sta_scan"></table>
<button id="b_sta_scan_back">戻る</button>
</div><!-- /d_sta_scan -->

<div id="d_sta_commit">
<p>設定完了</p>

<p>親機として接続する場合は、<b>設定したAP SSID</b> に接続し、
<b>AP IP</b>をクリックしてください。
この場合インターネットにアクセスできない場合があります。</p>

<p>子機として接続する場合は、<b>設定したSTA SSID</b> に接続し、
<b>ホスト名</b>をクリックしてください。
ルータの設定によってはWiFi機器同士の通信をブロックされている場合があります。
その場合はそちらを解除するか、親機としてアクセスしてください。</p>

<p>左の情報は更新前の情報になっている場合があります。</p>

</div><!-- /d_sta_commit -->

</div><!-- /m_wifi -->
</div><!-- /panel_center_inner -->
</div><!-- /panel_center -->

<!-- ------------------------------------------------------------------------- -->
<!-- 中央 -->
<!-- ------------------------------------------------------------------------- -->
<div class="panel_bottom">
<small>&copy; mamemo technologies.</small>
</div>
</div>
</body>
</html>
